<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class='smartphone zoom-1 notification on'>

  <!--<span class='btn btn-up-down'></span>-->
  <span class='btn btn-power'></span>

  <section class='header'>
    <!--<span class='badge'></span>-->
    <!--<span class='cam'></span>-->
  <div class='agent'>
    <%= image_tag("agent.png", size: "38") %>
    <span style="padding-left: 5px;"><b>Linda</b></span>
  </div>
  </section>

  <div class='screen'>
    <ul class='conversation'>
    </ul>
  </div>

  <%= form_tag user_sendMessage_path,remote: true do %>
  <div class="quickResponseContainer"></div>
  <p>
      <div id="sendWrapper">
      <%=text_field_tag "message_input_field", nil,placeholder: "Type a message..."%>
      <%=button_tag "name", id: "send_message_button", :class=>"far fa-arrow-alt-circle-up" do%>
      <%end%>
      </div>
      <%end%>
<p></p>
</div>
